main {
    margin: 40px 60px 120px 60px;
    width: 66%;
    float: left;
    display: block;
}

.secondary {
    padding-top: 2em;
    padding-right: 3em;
    width: 23.5%;
    float: right;
    clear: none;
}

.stick {
    position: sticky;
    top: 15px;
}

ul.subnav>.current_page_item>a {
    color: #3d3d3d;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.45;
    font-size: 2em;
}

ul.subnav .subnav-heading {
    font-size: 1.2em;
    color:#3d3d3d;
}

ul.subnav,
ul.subnav ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
}

ul.subnav a {
    display: block;
}

ul.subnav ul a {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    -webkit-font-smoothing: antialiased;
    color: #a51417;
}

.children li {
    padding: 10px 0px;
}

.widget-area a {
    text-decoration: none;
}